body{
    font-family:"Arial", "sans-serif";
}

nav {
    background-color:black;
    padding:10px;
}


nav a{
    color:white;
    font-weight: bold;
    text-decoration: none;
    padding-right:5px;
    border-right: 2px solid white;

}